# MurderRun Configuration File

# Sets the language for the plugin
# Valid options are: EN_US, ZH_CN, ZH_HK, ES_ES
# Default is EN_US
language: EN_US

# Sets the method to host the pack that is used by the plugin
# Valid options are ON_SERVER, LOCALLY_HOSTED_DAEMON, and MC_PACK_HOSTING
# Default is ON_SERVER

# ON_SERVER hosts the resource-pack without any setup required as it hosts it on the same port.
# as the server. This is the recommended option as it requires no setup at all. Please note however
# that if you are using ON_SERVER, you must either be port-forwarding your server port (for public
# servers), or setting the server-ip property in server.properties to your device ip (for LAN servers).
# This is because Murder Run will fetch your public ip by default if the server-ip property is missing,
# which won't work for LAN servers.

# LOCALLY_HOSTED_DAEMON will start a local daemon that will host the pack using the below options.
# This option requires you to port-forward an additional port (besides your current server port).

# MC_PACK_HOSTING will upload the pack on https://mc-packs.net/ and cache the pack link
# This option doesn't require port-forwarding, but may be limited by web requests. There has
# been issues with this option in the past, so it is not recommended.
pack-provider: MC_PACK_HOSTING

# If using LOCALLY_HOSTED_DAEMON, the below options will be used
server:

  # The host name of the daemon (for example: google.com)
  # Default is localhost
  host-name: localhost

  # The port of the daemon (for example, 7270)
  # Default is 7270
  port: 7270

  # With this configuration, the final pack link will be: http://localhost:7270/

# The data provider to use to store all plugin data
# Valid options are JSON and SQL. If you are using SQL, make sure to the configuration below
# to match your SQL database.
# default is JSON
relational-data-provider: JSON

# Represents the database options
database-options:

  # The driver you want to use (only Hibernate supported drivers)
  # Default is org.h2.Driver
  driver: org.h2.Driver

  # Database JDBC url to connect to
  # Default is jdbc:h2:~/test
  jdbc-url: jdbc:h2:~/test

  # Database name for the plugin
  # Default is murderrun
  database-name: murderrun

  # Hibernate internal option
  # Default is update
  hbm2ddl: create

  # Database username to connect
  # Default is prod
  username: prod

  # Database password to connect
  # Default is prod
  password: prod

  # Show SQL statements in the console
  # Default is true
  show-sql: true

