version: 2.1

orbs:
  gradle: circleci/gradle@3.0.0

executors:
  java21:
    docker:
      - image: cimg/openjdk:21.0.2

jobs:
  jar:
    executor: java21
    steps:
      - checkout
      - run:
          name: compile plugin
          command: ./gradlew build
      - store_artifacts:
          path: build/libs/

workflows:
  build:
    jobs:
      - jar